.App {
  text-align: center;
}
table{
  margin-left:auto; 
  margin-right:auto;
  border-collapse: collapse;

}
table, th, td {
  border: 5px solid black;
}
form {
  border: 5px solid rgb(128, 41, 0);
}
.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #ec1b3e;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
label {
  font-weight: bold;

}
